body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: red;
}

.not-fun {
    display:none;
}

.img1 {
    width: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.img2 {
    width: 30%;
    position: fixed;
    right: 0;
    top: 0;
}

.main-img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 35px;
}

.main {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border-radius: 5px;
    border: 0px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 15px;
}

.OK {
    background-color: rgb(64, 1, 224);
}

.KOK {
    background-color: rgb(255, 165, 0);
}

.OK {
    position: absolute;
    bottom: -250px; /* Điều chỉnh vị trí dưới hình ảnh */
    left: 30%;
    transform: translateX(-50%);
}

.KOK {
    position: absolute;
    bottom: -250px; /* Điều chỉnh vị trí dưới hình ảnh */
    left: 70%;
    transform: translateX(-50%);
}


video {
    z-index: 999;
}